/**
*Style du component Tag
**/

.tag {
    display: inline-flex;
    background: #FF6060;
    border-radius: 5px;
    justify-content: space-around;
    letter-spacing: 0em;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    min-width: 84px;
    padding-left: 1.8%;
    padding-right: 1.8%;

    @include tablet-only {
        min-width: 115px;
        border-radius: 10px;

    }

    &__title {
        color: #ffffff;
        font-size: 10px;
        font-weight: 500;
        line-height: 14.26px;

        @include tablet-only {
            font-size: 14px;
            line-height: 20px;
        }
    }
}