/**
*Style de la page A propos
**/


.about {
    @include center-box;
    flex-direction: column;
    margin-top: 17px;
    width: 89.52%;
    margin-bottom: 168px;

    @include tablet-only {
        width: 86%;
        margin-top: 49px;
        margin-bottom: 200px;
    }

    //Réglage de la hauteur du component banner dans About
    .banner {
        height: 223px;
        border-radius: 25px;

        //Image de fond d ela bannière
        &::before {
            background-image: url(../../assets/about-banner-s.webp);
            border-radius: 25px;

            @include tablet-only {
                background-image: url(../../assets/about-banner.webp);
            }
        }

    }

    &__accordions-wrapper {
        @include center-box;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
        gap: 20px;

        @include tablet-only {
            margin-top: 30px;
            width: 82.5%;
            gap: 31px;
        }

        //Accordions dans About
        .accordion {
            &__header {
                &__category {
                    @include tablet-only {
                        font-size: 24px;
                        line-height: 34px;
                        margin: 5.75px 18px 7.25px 18px;
                    }
                }
            }


            &__content {
                padding: 16px 7px 50px 11px;

                @include tablet-only {
                    padding: 30px 18px 18px 18px;
                    font-size: 24px;
                    line-height: 34px;
                }
            }
        }

    }
}