/**
*Style de la page erreur
**/

.error {
    @include center-box;
    color: $clr-primary;
    flex-direction: column;
    width: 70%;
    text-align: center;
    letter-spacing: 0em;
    margin-bottom: 235px;

    @include tablet-only {
        margin-bottom: 160px;
    }

    //404
    &__number {

        font-size: 96px;
        font-weight: 700;
        margin-top: 180px;

        @include tablet-only {
            font-size: 288px;
            margin-top: 120px;
        }
    }

    //Texte de la page
    &__text {
        @include center-box;
        justify-content: space-around;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        flex-wrap: wrap;


        &__head {
            white-space: nowrap;
            margin-right: .5ch;
        }

        @include desktop-only {
            margin-top: 20px;
            font-size: 36px;
            line-height: 51px;
        }
    }

    //Lien menant vers l'accueil
    &__link {

        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-top: 133px;
        text-decoration-line: underline;
        color: inherit;

        @include tablet-only {
            margin-top: 182px;
            font-size: 18px;
            line-height: 26px;
        }
    }
}