/**
*Style de la page d'accueil
**/

.home {
    @include center-box;
    flex-direction: column;
    margin-top: 16px;
    width: 89.52%;
    letter-spacing: 0em;
    margin-bottom: 168px;

    @include desktop-only {
        width: 86%;
        margin-top: 68px;
        margin-bottom: 200px;
    }

    //Ajout de la bannière avec un filtre noir dans son after afin d'assombrir l'image
    &__banner {
        @include banner;

        &__text {
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
            margin-left: 4.8%;
            width: 64.55%;
            align-self: center;

            @include desktop-only {
                margin-left: 0;
                text-align: center;
                font-size: 48px;
                line-height: 142.6%;
            }
        }
    }

    //Style du conteneur des cartes de logement
    &__cards-wrapper {
        @include center-box;
        width: 100%;
        flex-direction: column;
        margin-top: 22px;
        gap: 20px;

        @include tablet-only {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 50px 5%;
            width: auto;
            padding: 50px 4.24%;
        }

        @include desktop-only {
            background-color: $clr-bgLight;
            justify-content: center;
            border-radius: 25px;
        }

        @media screen and (min-width: 1416px) {
            justify-content: flex-start;
        }
    }
}