/**
*Style de la page d'accueil
**/

.home {
    @include center-box;
    flex-direction: column;
    width: 89.52%;
    letter-spacing: 0em;

    @include desktop-only {
        width: 86%;
    }

    //Ajout de la bannière avec un filtre noir dans son after afin d'assombrir l'image
    &__banner {
        display: flex;
        width: 100%;
        background-image: url("../../assets/home-banner-s.webp");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 111px;
        border-radius: 10px;
        color: #ffffff;
        position: relative;
        overflow: hidden;
        margin-top: 16px;
        z-index: -2;

        @include tablet-only {
            background-image: url("../../assets/home-banner.webp");

            border-radius: 25px;
            min-height: 223px;
            justify-content: space-around;
        }

        &::after {
            content: " ";
            background: #000000;
            opacity: 0.3;
            mix-blend-mode: darken;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: -1;
        }

        &__text {
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
            margin-left: 4.8%;
            width: 64.55%;
            align-self: center;

            @include desktop-only {
                margin-left: 0;
                text-align: center;
                font-size: 48px;
                line-height: 142.6%;
            }
        }
    }

    &__cards-wrapper {
        @include center-box;
        width: 100%;
        flex-direction: column;
        margin-top: 22px;
        gap: 20px;

        @include tablet-only {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            column-gap: 50px;
            width: auto;
        }

        @include desktop-only {
            padding: 56px 4%;
            background-color: $clr-bgLight;
            justify-content: center;
            border-radius: 25px;
        }

        @media screen and (min-width: 1416px) {
            justify-content: flex-start;
        }
    }
}