/**
*Style de la page d'accueil
**/

.home {
    @include center-box;
    flex-direction: column;
    margin-top: 16px;
    width: 89.52%;
    letter-spacing: 0em;
    margin-bottom: 168px;

    @include desktop-only {
        width: 86%;
        margin-top: 68px;
        margin-bottom: 200px;
    }

    //Ajout de la bannière et de son titre
    .banner {
        height: 111px;
        border-radius: 10px;

        &::before {
            background-image: url(../../assets/home-banner-s.webp);
            border-radius: 10px;

            @include tablet-only {
                background-image: url(../../assets/home-banner.webp);
                border-radius: 25px;
            }
        }

        @include tablet-only {
            height: 223px;
            border-radius: 25px;
        }

        &__title {
            margin-left: 16px;
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
            align-self: center;
            color: #ffffff;
            width: 65%;
            z-index: 1;

            @include tablet-only {
                text-align: center;
                font-size: 48px;
                line-height: 68px;
                margin-left: 0
            }
        }

    }

    //Style du conteneur des cartes de logement
    &__cards-wrapper {
        @include center-box;
        width: 100%;
        flex-direction: column;
        margin-top: 22px;
        gap: 20px;

        @include tablet-only {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 50px 5%;
            width: auto;
            padding: 56px 4.24%;
            margin-top: 43px;
        }

        @include desktop-only {
            background-color: $clr-bgLight;
            justify-content: center;
            border-radius: 25px;
        }

        //Ajout d'un media queries pour un meilleur visuel des cartes quand on passe à 3 colonnes 
        @media screen and (min-width: 1416px) {
            justify-content: flex-start;
        }
    }
}