/**
*Style du header
**/

.header {
    @include center-box;
    width: 89%;
    margin-top: 20px;
    justify-content: space-between;
    letter-spacing: 0em;

    @include desktop-only {
        width: 86%;
        margin-top: 40px;
    }

    &__logo {
        width: 145px;
        height: 47px;

        @include desktop-only {
            width: 210px;
            height: 68px;
        }
    }

    &__nav {
        display: flex;
        gap: 15px;
        align-items: center;

        @include desktop-only {
            gap: 60px;
        }

        &__link {
            color: $clr-primary;
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;
            text-decoration: none;
            position: relative;
            text-transform: uppercase;
            overflow: hidden;

            @include desktop-only {
                font-size: 24px;
                line-height: 34px;
                text-transform: capitalize;
            }

            //Ajout de l'effet underline au survol avec le ::after
            &::after {
                color: transparent;
                text-decoration-line: underline;
                text-decoration-color: $clr-primary;
                left: -100%;
                position: absolute;
                opacity: 0;

            }

            //Ajout des 2 contenus pour ::after le texte étant en transparent contrairement à l'underline
            &:nth-of-type(1) {
                &::after {
                    content: "accueil";

                }
            }

            //Utilisation du texte transparent en capital pour pour les p afin de ne pas avoir de coupure au niveau de la ligne underline  
            &:nth-of-type(2) {
                &::after {
                    content: "a ProPos";
                }
            }

            //Apparition de l'underline avec opacity    
            &:hover {

                &::after {
                    opacity: 1;
                    transform: translate3d(100%, 0, 0);
                    transition: opacity 300ms, transform 300ms;

                }
            }
        }
    }
}