/**
*Style du footer
**/

.footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    letter-spacing: 0em;

    &__logo {
        width: 122px;
        height: 39.44px;
        margin-top: 62px;
        align-self: center;

        @include desktop-only {
            align-self: flex-start;
            margin-top: 85px;
            margin-left: 49%;
        }
    }

    &__text {
        margin-top: 30px;
        margin-bottom: 62px;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        align-self: center;

        @include tablet-only {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 30px;

        }
    }
}