/**
*Gestion des mixins
**/

//Media queries
//taille écran tablette minimum
@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

//taille écran desk
@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}


//Box-sizing
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}


//Centre un bloc sans toucher aux margin top et bottom
@mixin center-box {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


//Mixin pour les banners des pages home et about
@mixin banner($min: 111px, $urlMobile: url("../../assets/home-banner-s.webp"), $urlDesktop: url("../../assets/home-banner.webp")) {
    min-height: $min ;
    border-radius: 10px;
    display: flex;
    width: 100%;
    background-image: $urlMobile ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: -2;
    color: #ffffff;

    @include tablet-only {
        background-image: $urlDesktop ;
        border-radius: 25px;
        min-height: 223px;
        justify-content: space-around;
    }


    &::after {
        content: " ";
        background: #000000;
        opacity: 0.3;
        mix-blend-mode: darken;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
    }
}